/*
.book-list-titles {
	flex-wrap: nowrap;
	overflow:visible;
}

.book-list {
	flex-wrap: nowrap;
	overflow:visible;
}
*/
/*

.col-2 {
	border:1px solid black;
}

.col-3 {
	border:1px solid black;
}

.col-1 {
	border:1px solid black;
}
*/

/*
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-2 {
  display: inline-block;
}

.testimonial-group > .row > .col-4 {
  display: inline-block;
}
*/
