.formbox {
	position: absolute;
	width:50%;
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	border-radius: 4px; 
	box-shadow: 2px 2px 4px grey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	padding-top:20px;
	padding-left:30px;
}

.row {
	padding:30px 15px;
	padding-right:30px;
	padding-top:0px;
	padding-bottom:10px;
}

.col-sm {
	padding-left:30px;
}

.form-group {
	width:100%;
	margin-bottom:16px; 
	margin-right:15px;
}

.form-control {
	width:100%; 
	padding:5px;
}

.alert {
	margin-top:-16px;
	margin-right:15px;
}

p {
	margin-bottom:0px;
	font-size:14px;
}

.submit-btn {
/*
	float:right;
*/
	width:100%;
	padding:6px 0px; 
	margin-top:10px;
	color:#fff; 
	border-radius:4px; 
	border: 1px outset #d0d0d0;
	box-shadow: 1px 1px 4px grey;
	background-color:#007bff
}

.link {
	padding-top:8px;
}
