.container {
	margin: 40px auto;
}

.row {
	margin-bottom: 20px;
}

.search-result-text > h3 {
	margin-left: .6em;
}

.book_container {
	height: 520px;
	border: solid #f5f5f5 1px;
}

.book_block {
	height: calc(100% - 20px);
}

.book_img {
	max-width: 100%;
	height: 60%;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.book_desc {
	overflow: hidden;
	padding: 5px 15px;
	height:40%;
}

.name {
	overflow: hidden;
	height: 40%;
}

.name > h4 {
	overflow:hidden;
	line-height:1em;
}

h4 {
	margin-bottom: 5px;
}

.rating-text {
	margin-bottom: 5px;
	margin-top: 5px;
}

.rating {
	vertical-align: top;
	font-size: .75rem;
	font-weight: 900;
	display: inline-block;
	padding: 0px 10px;
	background-color: red;
	color: white;
	border: solid red 2px;
	border-radius: 2px;
}

.desc {
	word-wrap: break-word;
	line-height: 1.1;
	margin-bottom:0px;
}
