.container-fluid {
	min-height: calc(100vh - 176px);
}

.page-title {
	margin-top: 20px;
}

.cart-amount, .cart-box {
	margin: auto 0px;
	margin-top: 20px;
	border: 1px white solid;
	border-radius: 4px;
	box-shadow: 0 0 2px black;
}

.cart-amount {
	padding: 15px 15px;
}

hr {
	margin: 5px 0px;
}

.container-cart > hr:first-of-type {
	border-top: 1px solid black;
}

.container-cart {
	padding: 15px 0px;
}

.cart-titles {
	text-align: center;
}

.cart-titles > div:first-child {
	text-align: left;
}

.cart-product {
	margin-top: 10px;
}

.product-image-cart {
	width: 120px;
	min-height: 200px;
}

.cart-book-desc {
	text-align: left;
}

.cart-book-title {
	overflow: hidden;
	height: 50px;
}

.cart-product {
	text-align: center;
}

.cart-summary {
	padding-top: 20px;
}

.cost, .cost-total {
	text-align: right;
}

.no-cart {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* flip box */










