.container-fluid {
	min-height: calc(100vh - 176px);
}

.page-title {
	margin-top: 20px;
}

.cart-amount, .cart-box {
	margin: auto 0px;
	margin-top: 20px;
	border: 1px white solid;
	border-radius: 4px;
	box-shadow: 0 0 2px black;
}

.cart-amount {
	padding: 15px 15px;
}

hr {
	margin: 5px 0px;
}

.container-cart > hr:first-of-type {
	border-top: 1px solid black;
}

.container-cart {
	padding: 15px 0px;
}

.cart-titles {
	text-align: center;
}

.cart-titles > div:first-child {
	text-align: left;
}

.cart-product {
	margin-top: 10px;
}

.product-image-cart {
	width: 120px;
	min-height: 200px;
}

.cart-book-desc {
	text-align: left;
}

.cart-book-title {
	overflow: hidden;
	height: 50px;
}

.cart-product {
	text-align: center;
}

.cart-summary {
	padding-top: 20px;
}

.cost, .cost-total {
	text-align: right;
}

.no-cart {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ebook_price>p, .pbook_price>p, .pbook_total>p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.ebook_input, .pbook_input {
	margin-top: 4px;
	margin-bottom: 4px;
}
/* flip box failed so just a filling button with sliding text*/
.ebook_select, .pbook_select {
	width: 80%;
	height: 100%;
	border-radius: 4px;
	border-color:#75b98b;
	outline: none !important;
}

.ebook_select:before, .pbook_select:before {
	content: attr(data-hover);
	height: 100%;
	width: 100%;
	position: absolute;
	left: -100%;
	top: 20%;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.ebook_select:after, .pbook_select:after{
	content: attr(data-static);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 20%;
	opacity: 1;
	text-align: center;
	-webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.ebook_select:hover:before, .pbook_select:hover:before {
	left: 0%;
	opacity: 1;
}

.ebook_select:hover:after, .pbook_select:hover:after {
	left: 100%;
	opacity: 0;
}

.permahover:before {
	left: 0%;
	opacity: 1;
}

.permahover:after {
	left: 100%;
	opacity: 0;
}

.permahover:hover:before {
	left: 100%;
	opacity: 0;
}

.permahover:hover:after {
	left: 0%;
	opacity: 1;
}

.ebook_select:hover, .pbook_select:hover {
	opacity: 0.5 !important;
	background-color: white !important;
	border-color:black;
}

.permahover:hover {
	opacity: 1 !important;
	background-color: #75b98b !important;
	color: white;
	border-color:#75b98b !important;
}

.ebook_select, .pbook_select {
	background-color: #75b98b;
	color: white;
	border-color:#75b98b;
}

.permahover {
	background-color: white !important;
	border-color:black;
}





