{% extends "base.html" %}
{% block head %}
	<title>Update Book</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='update_book.css') }}">
<!--
	<script type="text/javascript" src="{{ url_for('static', filename='adm_add_book.js') }}"></script>
-->
{% endblock %}
{% block body %}
{% include "adm_navbar.html" %}
<div class="formbox">
	<div class="container">
		<h1>Update Book</h1>
		<form action="" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" value="{{ book_data['b_name'] }}">
					</div>
					<div class="form-group">
						<label>Author</label>
						<input class="form-control" type="text" name="author" value="{{ book_data['b_author'] }}">
					</div>
					<div class="form-group">
						<label>Publisher</label>
						<input class="form-control" type="text" name="publisher" value="{{ book_data['b_publisher'] }}">
					</div>
				</div>
				<div class="col-sm-8">
				<div class="row">
				<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label>Image</label>
						<input class="form-control" type="file" name="img">
					</div>
					<div class="form-group">
						<label>Pdf</label>
						<input class="form-control" type="file" name="pdf">
					</div>
					<div class="form-group">
						<label>ISBN</label>
						<input class="form-control" type="text" name="isbn" value="{{ book_data['b_isbn'] }}">
					</div>
					{% if msg %}
						<div class="alert alert-danger alert-dismissable fade show">
							{{ msg }}
						</div>
					{% endif %}
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label>Book Type</label>
						<select class="form-control" name="book_type">
							<option value="fiction"{% if rec==0 %} selected="selected"{% endif %}>Fiction</option>
							<option value="non-fiction"{% if rec==1 %} selected="selected"{% endif %}>Non-Fiction</option>
							<option value="science"{% if rec==2 %} selected="selected"{% endif %}>Science</option>
							<option value="biography"{% if rec==3 %} selected="selected"{% endif %}>Biography</option>
						</select>
					</div>
					<div class="form-group">
						<label>Price</label>
						<input class="form-control" type="number" name="price" value="{{ book_data['b_paperbook_price'] }}">
					</div>
					<div class="form-group">
						<label>Stock</label>
						<input class="form-control" type="number" name="stock" value="{{ book_data['b_stock'] }}">
					</div>
				</div>
				</div>
				</div>
				</div>
				<div class="row">
					<div class="col-lg">
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" rows="5" name="description">{{ book_data['b_desc'] }}</textarea>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary submit-btn">Update Book</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
