{% extends "base.html" %}
{% block head %}
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_cart.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_footer.css') }}">
<link type="text/javascript" href="{{ url_for('static', filename='cart.js') }}">
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
	<div class="row justify-content-center page-title">
		<div class="col-2">
			<h1>My Cart</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col-8 cart-box">
			<div class="container-cart">
				<div class="row cart-titles">
					<div class="col-6">
						<h5>Product</h5>
					</div>
					<div class="col-2">
						<h5>Unit price</h5>
					</div>
					<div class="col-2">
						<h5>Quantity</h5>
					</div>
					<div class="col-2">
						<h5>Amount</h5>
					</div>
				</div>
				{% for i in range(0,4) %}
				<hr/>
				<div class="row cart-product">
					<div class="col-6">
						<div class="row">
						<div class="col-5 cart-book-img">
							<img class="product-image-cart" src="{{ url_for('static', filename='scipy.png') }}">
						</div>
						<div class="col-7 cart-book-desc">
							<div class="cart-book-title">
								<h5>Book Title hellow this is a test text and also for replacement of lorem ipsum</h5>
							</div>
							<p>In Stock</p>
							<button class="btn btn-primary">Remove</button>
						</div>
						</div>
					</div>
					<div class="col-2">
						<p>&#8377;300</p>
					</div>
					<div class="col-2">
						<select id="no" onChange="update()">
							<option value="1" selected="selected">1</option>
							{% for i in range(2,10) %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-2">
						<p>&#8377;300</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-4 amount-box">
			<div class="cart-amount">
			<h5>Summary</h5>
			<hr/>
			<div class="row cart-summary">
				<div class="col-7 cost-details">
					<p>Books price</p>
					<p>Tax</p>
					<p>Shipping Cost</p>
				</div>
				<div class="col-5 cost">
					<p>&#8377;300</p>
					<p>&#8377;54</p>
					<p>&#8377;50</p>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-7">
					<h5>Estimated Total</h5>
				</div>
				<div class="col-5 cost-total">
					<h5>&#8377;404</h5>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12">
					<button class="btn btn-primary make-payment w-100">Proceed to Pay</button>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
<script src="https://js.stripe.com/v3/"></script>
<script>
	const checkout_session_id = '{{checkout_session_id}}';
	console.log(checkout_session_id)
	const checkout_public_key = '{{checkout_public_key}}';
	console.log(checkout_public_key)
</script>
<script src="{{ url_for('static', filename='checkout.js') }}"></script>
{% endblock %}
