{% extends "base.html" %}
{% block head %}
	<title>Failed</title>
	<link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='style_confirmation_error.css') }}">
{% endblock %}

{% block body %}
<div class="confirmation">
<div class="container">
	<div class="row text-center my-5">
		<div class="col-sm">
		<div class="mt-2"><i class="fas fa-triangle-exclamation fa-4x"></i></div>
		<div class="d-none"></div>
		<div class="mt-1">
			<h2>Confirmation  Failed</h2>
		</div>
		<div class="confirm-info mx-5 my-3">
			<h6>Confirmation link expired or invalid link.</br>You can request for resend confirmation mail again.</h6>
		</div>
		<div>
			<form method="post">
				<a href="/forgot" class="btn btn-success mt-3"></a>
			</form>
		</div>
		</div>
	</div>
</div>
</div>
<script src="https://kit.fontawesome.com/69b4baa61f.js" crossorigin="anonymous"></script>
{% endblock %}
