<footer>
	<div class="card footer-top">
		<div class="card-body text-white">
			<div class="social-links">
				<a href="#"><img src="{{ url_for('static', filename='instagram.png') }}"></a>
				<a href="#"><img src="{{ url_for('static', filename='facebook.png') }}"></a>
				<a href="#"><img src="{{ url_for('static', filename='youtube.png') }}"></a>
				<a href="#"><img src="{{ url_for('static', filename='twitter.png') }}"></a>
			</div>
			<div class="info">
			<p>Copyright BookStore. All Rights Reserved</p>
			<p>Created by Bhavani</p>
			</div>
		</div>
	</div>
</footer>
