{% extends "base.html" %}
{% block head %}
	<title>Register</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style_register.css') }}">
{% endblock %}
{% block body %}
<div class="formbox">
	<div class="container">
		<h1>Register Form</h1>
		<form action="/register" method="post">
			<div class="row">
			<div class="col-sm">
			{{ form.csrf_token() }}
			<div class="form-group">
				{{ form.fname.label }}
				{{ form.fname(class="form-control") }}
			</div>
			<div class="form-group">
				{{ form.lname.label }}
				{{ form.lname(class="form-control") }}
			</div>
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email(class="form-control") }}
			</div>
			{% if msg.email %}
				<div class="alert alert-danger alert-dismissable fade show">{{ msg.email }}</div>
			{% endif %}
			
			</div>
			<div class="col-sm">
			<div class="form-group">
				{{ form.username.label }}
				{{ form.username(class="form-control") }}
			</div>
			{% if msg.username %}
				<div class="alert alert-danger alert-dismissable fade show">{{ msg.username }}</div>
			{% endif %}
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password(class="form-control") }}
			</div>
			<div class="form-group">
				{{ form.cpassword.label }}
				{{ form.cpassword(class="form-control") }}
			</div>
			</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
			{{ form.submit(class="btn btn-primary submit-btn") }}
			<div class="link text-center">
				<p>Existing User? <a href="/login">Login here</a></p>
			</div>
			</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
