{% extends "base.html" %}
{% block head %}
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_homepage.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_footer.css') }}">
{% endblock %}
{% block body %}
{% include "navbar.html" %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 search-result-text">
				<h3>Search results for <strong>Python</strong></h3>
			</div>
		</div>
		{% for inner_list in books_data %}
		<div class="row">
			{% for i in range(inner_list | length) %}
			<div class="col-sm">
				<div class="book_container">
				<div class="book_block">
					<div class="book_img">
<!--
						<img class="image" height="300" src="{{ url_for('static', filename='scipy.png') }}" />
-->
						<img class="image" height="300" src="data:image/jpeg;base64,{{ inner_list[i]['b_img_small'] }}" />
					</div>
					<div class="book_desc">
						<div class="name">
							<h4>{{ inner_list[i]['b_name'] }}</h4>
						</div>
					<p class="rating-text"><span class="rating">4.5</span> (4,888)</p>
					<div class="desc"><p>{{ inner_list[i]['b_desc'] }}</p>
					</div>
					</div>
				</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% include "footer.html" %}
{% endblock %}
