{% extends "base.html" %}
{% block head %}
<title>Book name</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_view_book.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_footer.css') }}" >
<script type="text/javascript" src="{{ url_for('static', filename='view_book.js') }}"></script>
<script src="https://kit.fontawesome.com/69b4baa61f.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
{% if success %}
<div class="alert alert-danger alert-comment m-0">
Your review was added
</div>
{% endif %}
{% include "navbar.html" %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 book-image" data-id="{{ book_data['b_id'] }}">
      <img src="{{ url_for('static', filename=book_data['b_img']) }}" >
    </div>
    <div class="col-7">
      <div class="book-heading">
        <h2>{{ book_data['b_name'] }}</h2>
      </div>
      <div class="book-info">
        <p><strong>Author</strong>: {{ book_data['b_author'] }}</p>
        <p><strong>Publisher</strong>: {{ book_data['b_publisher'] }}</p>
        <p><strong>ISBN</strong>: {{ book_data['b_isbn'] }}</p>
      </div>
      <div class="row justify-content-start">
        <div class="col-2">
          <div class="book-panel text-center">
            <a href="#" class="paperback">
              <div class="book-mode-paperback border border-primary">Paperback</div>
              <div class="book-price-paperback border border-primary">&#8377;{{ book_data['b_paperbook_price'] }}</div>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="book-panel text-center">
            <a href="#" class="ebook">
              <div class="book-mode-ebook border border-success active">Ebook</div>
              <div class="book-price-ebook border text-success border-success">&#8377;{{ book_data['b_ebook_price'] }}</div>
            </a>
          </div>
        </div>
      </div>
      <p class="stock">In Stock: {{ book_data['b_stock'] }}</p>
      <div class="row justify-content-start buttons">
        <div class="col-4">
          <button class="btn btn-primary w-100 py-2 add-cart-button" id="not-added">Add to Cart</button>
        </div>
        <div class="col-4">
			<form id="book-form" action="/cart" method="post">
				{{ form1.csrf_token }}
				{{ form1.book_id(id="book_id", value=book_data['b_id']) }}
				{{ form1.paperback(id="paperback", value="no") }}
				{{ form1.ebook(id="ebook", value="yes") }}
				{{ form1.add_to_cart(id="add_to_cart", value="update") }}
				{{ form1.submit_buy(class="btn btn-primary submit-btn buy-submit w-100 py-2") }}
			</form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center book-details">
    <div class="col-10">
      <h3>Description:</h3>
      <p>{{ book_data['b_desc'] }}</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-10 comment-box">
      <div class="row">
        <div class="col-12">
          <h3>Review Summary</h3>
          <div class="row mt-3">
            <div class="col-7 book-rating">
              <div class="row justify-content-start">
                <div class="col-7 rating-show">
                  <div class="rating-bars">
                    {% for i in range(5, 0, -1) %}
                    <div class="row rating-bar-each">
                      <div class="rating-star-number"><strong>{{ i }}</strong><i class="star-indicator fa fa-star"></i></div>
                      <div class="progress-box">
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{ ratings_bar[i] }}%"></div>
                        </div>
                      </div>
                      <div class="rating-per-star">{{ ratings_bar[i] }}%</div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-5">
                  <div class="rating-box">
                    <div class="rating">
                      <div class="rating-original">{{ ratings['org'] }}</div>
                      <div class="rated-stars-show">
                        {% for i in range(0, ratings['full'] | int) %}
                        <i class="rated_star fas fa-star"></i>
                        {% endfor %}
                        {% if ratings['half'] %}
                        <i class="rated_star fas fa-star-half"></i>
                        {% endif %}
                        {% if (ratings['half']) %}
                        {% for i in range((ratings['full'] | int) + 1, 5) %}
                        <i class="rated_star far fa-star"></i>
                        {% endfor %}
                        {% else %}
                        {% for i in range((ratings['full'] | int), 5) %}
                        <i class="rated_star far fa-star"></i>
                        {% endfor %}
                        {% endif %}
                      </div>
                      <div class="rating-count">{{ ratings['count'] }} reviews</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="row justify-content-end">
                <div class="col-6">
                  <button type="button" class="btn btn-primary" onClick="toggleForm()"><i class="fa fa-pencil"></i> Write a Review</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-12">
<!--
          <h2>Reviews</h2>
-->
          <div class="comment-section-inner">
			{% if reviews_data %}
				{% for review_dict in reviews_data%}
            <div class="row justify-content-center comment">
              <div class="col-3 align-middle comment-info">
                <p>{{ review_dict['date'] }}</p>
                <p>By <strong>{{ review_dict['name'] }}</strong></p>
              </div>
              <div class="col-9 align-middle comment-data">
                <p><span class="rated-stars-review">
                        {% for i in range(0, review_dict['stars'] | int) %}
                        <i class="rated-stars fas fa-star"></i>
                        {% endfor %}
                        {% for i in range(review_dict['stars'] | int, 5) %}
                        <i class="rated-stars far fa-star"></i>
                        {% endfor %}
                   </span>{{ review_dict['review'] }}</p>
              </div>
            </div>
            {% endfor %}
          {% else %}
				<div class="text-center mt-5"><i class="fa-solid fa-face-frown fa-4x"></i></div>
				<div class="d-none"></div>
				<div class="text-center mt-3">There are no reviews yet. Be the first one to give us a review.</div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comment Form -->
<div class="comment-overlay comment-form">
  <div class="comment-container">
    <h2>Post a Comment</h2>
    <div class="close-btn" onclick="toggleForm()">&times;</div>
    <form id="review-form" action="/books/{{ book_data['b_id'] }}" method="post">
      {{ form.csrf_token }}
      {% if 'uid' not in session %}
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
      </div>
      {% else %}
      <div class="form-group">
        {{ form.name.label(style="display:none;") }}
        {{ form.name(class="form-control", value="testname", style="display:none;") }}
      </div>
      <div class="form-group">
        {{ form.email.label(style="display:none;") }}
        {{ form.email(class="form-control", value="testname@gmail.com", style="display:none;") }}
      </div>
      {% endif %}
      <div class="form-group">
        {{ form.comment.label }}
        {{ form.comment(class="form-control") }}
      </div>
		{{ form.rstar(id="rstar", value="0.0") }}
      <div class="book-rating">
        <div class="rating-box">
          <div class="rating">
            <span class="rating-result">0/5</span>
            <i class="rating_star far fa-star"></i>
            <i class="rating_star far fa-star"></i>
            <i class="rating_star far fa-star"></i>
            <i class="rating_star far fa-star"></i>
            <i class="rating_star far fa-star"></i>
          </div>
        </div>
      </div>
      {{ form.submit_review(class="btn btn-primary submit-btn w-100 mt-3 comment-submit") }}
    </form>
  </div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}
